* {
  color: orange;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  background-color: purple;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
}
.btn {
  display: inline-block;
  border: none;
  color: black;
  background-color: lightgrey;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
}
#flex {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: auto;
}
